body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    background-color: beige;
}

table {
    width: 100%;
    padding: 10px;
    background-color: palevioletred;
}

th {
    text-align: center;
    border-bottom: 1px solid;
}

td {
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

